.combobtns {
    float: right !important;
}

.errorbtn {
    text-transform: none !important;
    color: white !important;
    background-color: #F44336 !important;
}

.btn {
    color: white !important;
    background-color: #3F51B5 !important;
    text-transform: none !important;
}