<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Get started with a free Videoflo account</h1>
    </div>
  </div>
  <div class="middle-box loginscreen">
    <form (submit)="onSubmit()" [formGroup]="registrationForm" class="m-b-lg" role="form">
      <div class="form-group p-grid">
        <div class="p-field m-t-lg">
          <span class="p-float-label">
            <input pInputText id="name" formControlName="name" type="text" class="form-control" autocomplete="username"
              [ngClass]="{ 'is-invalid': f.name.invalid && (f.name.touched || f.name.dirty) }">
            <label for="name">Name</label>
          </span>
        </div>
        <div class="text-danger" *ngIf="f.name.invalid && (f.name.touched || f.name.dirty)">
          Name is required
        </div>
      </div>
      <div class="form-group p-grid">
        <div class="p-field m-t-lg">
          <span class="p-float-label">
            <input pInputText formControlName="email" type="email" class="form-control" autocomplete="email"
              [ngClass]="{ 'is-invalid': f.email.invalid && (f.email.touched || f.email.dirty) }">
            <label for="email">Email</label>
          </span>
        </div>
        <div class="text-danger"
          *ngIf="f.email.invalid && f.email.errors.required && (f.email.touched || f.email.dirty)">Email is required
        </div>
        <div class="text-danger" *ngIf="f.email.invalid && f.email.errors.email && (f.email.touched || f.email.dirty)">
          Please enter a valid email id</div>
      </div>
      <div class="form-group p-grid">
        <div class="p-field m-t-lg">
          <span class="p-float-label">
            <p-inputMask id="mobileNo" formControlName="mobileNo" mask="(999) 999-9999" [unmask]="true"
              [style]="{width: '100%'}" autocomplete="mobile"
              [ngClass]="{ 'is-invalid': f.mobileNo.invalid && (f.mobileNo.touched || f.mobileNo.dirty) }">
            </p-inputMask>
            <label for="mobileNo">Mobile No</label>
          </span>
        </div>
        <div class="text-danger" *ngIf="f.mobileNo.invalid && (f.mobileNo.touched || f.mobileNo.dirty)">
          Mobile Number is
          required</div>
      </div>
      <div class="form-group p-grid">
        <div class="p-field m-t-lg">
          <span class="p-float-label">
            <input type="password" pInputText class="form-control" formControlName="password" id="password"
              autocomplete="new-password"
              [ngClass]="{ 'is-invalid': f.password.invalid && (f.password.touched || f.password.dirty) }">
            <label for="password">Password</label>
          </span>
        </div>
        <div class="text-danger"
          *ngIf="f.password.invalid && f.password.errors.required && (f.password.touched || f.password.dirty)">
          Password is required
        </div>
        <div class="text-danger"
          *ngIf="f.password.invalid && f.password.errors.minlength && (f.password.touched || f.password.dirty)">
          Password must be atleast 8 characters in length
        </div>
      </div>
      <div class="form-group p-grid">
        <div class="p-field m-t-lg">
          <span class="p-float-label">
            <input id="confirmPassword" pInputText formControlName="confirmPassword" type="password"
              class="form-control" autocomplete="new-password"
              [ngClass]="{ 'is-invalid': f.confirmPassword.invalid && (f.confirmPassword.touched || f.confirmPassword.dirty) }">
            <label for="confirmPassword">Confirm Password</label>
          </span>
          <div class="text-danger"
            *ngIf="f.confirmPassword.invalid && f.confirmPassword.errors.required && (f.confirmPassword.touched || f.confirmPassword.dirty)">
            Please re-enter the password
          </div>

          <div class="text-danger"
            *ngIf="f.confirmPassword.invalid && f.confirmPassword.errors.minlength && (f.confirmPassword.touched || f.confirmPassword.dirty)">
            Password must be atleast 8 characters in length
          </div>

          <div class="text-danger"
            *ngIf="registrationForm.errors?.mustMatch && (f.confirmPassword.touched || f.confirmPassword.dirty)">
            Password and Confirm Password do not match
          </div>

        </div>
      </div>
      <div class="form-group m-t-lg">
        <label class="text-left">
          <p-checkbox id="acceptTerms" formControlName="acceptTerms" [binary]="true"
            (onChange)="acceptTermsChanged($event)"
            [ngClass]="{ 'is-invalid': f.acceptTerms.invalid && (f.acceptTerms.touched || f.acceptTerms.dirty) }">
          </p-checkbox>
          I accept the <a href='/legal/tos' target='_blank'>Videoflo Terms of Service</a> and have read the <a
            href='/legal/privacy' target='_blank'>Videoflo Privacy Statement</a>
        </label>
        <div class="text-danger" *ngIf="f.acceptTerms.invalid && (f.acceptTerms.touched || f.acceptTerms.dirty)">
          You must accept the Terms of Service to create a Videoflo Account</div>
      </div>

      <button type="submit" pButton class="p-button-raised" [style]="{'width': '100%'}" label="Register" [disabled]="isSubmitting"></button>

      <p class="text-muted text-center m-t-lg">
        <small>Already have an account?</small>
        <br>
        <button pButton pRipple type="button" [routerLink]="['/console', 'login']" label="Login"
          class="p-button-text p-button-secondary"></button>
      </p>
    </form>
  </div>
</div>
<p-toast position="top-center"></p-toast>
