.ovContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 65%;
}

.activityContainer {
  overflow: scroll;
  position: absolute;
  top: 0;
  right: 0;
  height: 100% !important;
  width: 35%;
}

 @media only screen and (max-width: 992px) {
    .ovContainer {
        width: 100% !important;
        position: absolute !important;
        height: 70% !important;
      }
      
      .activityContainer {
        width: 100% !important;
        top: 70% !important;
        position: absolute !important;
        height: 30% !important;
      }
} 
